<div class="absolute bottom-[11px] md:bottom-[14px] right-[0] max-w-[1240px] w-full overflow-hidden z-[-2]">
  <div>
    <pre class="whitespace-pre font-asciiText leading-3 md:leading-5 text-illustration-text bg-white">
████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████</pre
    >
    <!-- ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ -->
  </div>
</div>

<div class="min-[856px]:hidden absolute bottom-[-46px] right-[0] max-w-[1240px] w-full overflow-hidden z-[-2]">
  <div>
    <pre class="whitespace-pre font-asciiText leading-3 md:leading-5 text-illustration-text bg-white">
████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████</pre
    >
    <!-- ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ -->
  </div>
</div>
<div
  class="flex ml-auto mr-5 mt-[-40px] sm:mt-[-38px] md:mt-[-60px] min-[856px]:mt-[0px] text-xs leading-3 md:text-base md:leading-4"
>
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
█████╗  
██╔══╝  
███████╗
╚══════╝</pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██████╗ 
██╔══██╗
██████╔╝
██╔═══╝ 
██║     
╚═╝     </pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██╗
██║
██║
██║
██║
╚═╝</pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
███████╗
╚════██║
███████║
╚══════╝</pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
 ██████╗ 
██╔═══██╗
██║   ██║
██║   ██║
╚██████╔╝
 ╚═════╝ </pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██████╗ 
██╔══██╗
██║  ██║
██║  ██║
██████╔╝
╚═════╝ </pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
█████╗  
██╔══╝  
███████╗
╚══════╝</pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
███████╗
╚════██║
███████║
╚══════╝</pre
  >
</div>
