<pre class="whitespace-pre font-mono text-illustration-green text-xs leading-3 md:text-base md:leading-4">
                            +-..:@@@#--++                             
                        *:  :-----:*@@-    @*-                        
                    ++  .:--======----::..   .#-                      
                 +* ..:::---=====--=*##+::..   #+                     
               *=.......::=#@@@@@@@@@@@@@@...:@@@+                    
             =+:..   .#@@@@@@@@@@@@@@@@@@#:...-@@                     
            =+-.    @@@@@@@@@@@#+===------::..  .#-                   
           .+=:.    @@@@@*:-----====------:::..  =%                   
           :*@@@=.     .:::---------=*%@@@%-:.. :%%#                  
           .@@@@-:.   ..::::+@@@@@@@@@@@@@@@+...*@@@                  
             @%--:.....=@@@@@@@@@@@@@@@@@@@@=:...@@@                  
            :*++=-:...@@@@@@@@@@@@@%+=------:::....+*                 
            =#**#+-..-@@@@@@@=-----===------:::....=#*                
             @@@@@=:...=:.:::-------=------=-::....*#%                
             %@=-+*=::.:::::::::-*@@@@@@@@@@@@%:...@@@=               
            .=====-*@=+==*##@@@@@@@@@@@@@@@@@@@:...@@@::              
            ==:=#%=-**%%@@@@@@@@@@@@@@@@@@#+---::..::%@+-             
           :====+%@=+#@@@@@@@@@@@%=--===------:::..::=#%#             
           :=*==+*%=+%##@@@@#-----------------:::..::=#%@             
            +=@@@@+=*@@@@@@@=--:----::=*@@@@@@@@+:.::@@@@             
             *====+%@#@@%@@+-::-%@@@@@@@@@@@@@@@@-:::@@@=             
               *%@@%##@%*+:*@@@@@@@@@@@@@@@@@@@@=:::-=#@@             
                **++%#@@*-@@@@@@@@@@@@@*=------:::-@@-*#%%            
                +*++#@@@*-*@@@@@#-:-----------:::-=@@=*#%%:           
                 +++*@@@*=::.::::-::::-::.-+%@@@@@==+*#@@@+ 
                 +*+*%%@*+-....:::.-@@@@@@@@@@@@@@**##@@@@  
                 *#***%@#++-::*@@@@@@@@@@@@@@@@@@*####%%@@  
                 #%%**%@@+#*+@@@@@@@@@@*:. ::=+**##%%%%%%%* 
                 =@@*#@@@##%%+@@@@#++====---==*%%%%%@@@@@#  
                  @@@#@@@@*%%%%**********##%@@@@@@@@@@@@              
                  =@@##@@@++++*###***#%@@@@@@@@-:-*@@+                
                   %@@@%@@@**@@@@@@@@@@@@@@@@++*#=-                   
                    %@%@@%@@@@@@@@@@@@@@@@@@@@@@                      
                     *%%%@@@@@@@@@@@@@@@@@@@@@@                       
                      -*@@@@@@@@@@@@@@@@@@@@%@+=.                     
              %@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@              
              @@#**++===+++++++++++++++++++++*%%%@@@@@@@              
                   *###%###*#**+++++========++#***+                   
</pre>
