<!-- Episode card code inserted by predeploy.js in to index.html -->
<article class="flex flex-col text-base leading-7 text-gray-900 min-w-[200px] max-w-[600px] w-full">
  <div class="video-container-small">
    <iframe
      src="https://www.youtube.com/embed/OcRYIC40-jc"
      title="What Open Source Maintainers Should Know About Mental Health | with Mike McQuaid | debug:mind #6 - YouTube video"
      loading="lazy"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="rounded-lg"
    ></iframe>
  </div>
  <header class="mt-3.5 w-full px-2">
    <h3 class="font-bold leading-6 episode-title">
      What Open Source Maintainers Should Know About Mental Health | with Mike McQuaid | debug:mind #6
    </h3>
    <p>
      <time class="leading-9 episode-upload-date" datetime="29-07-2024">10 days ago</time> •
      <time class="leading-9 episode-length">57 minutes</time>
    </p>
  </header>
</article>
