<pre class="whitespace-pre font-mono leading-4 text-illustration-green text-sm leading-[14px]">
                                                                                                    
                                                                                         %#######   
                                                                                       @@%#***###%% 
                                                                                       @@%#***###%% 
                                                                                       @@%#****##%% 
                                                                                       @@%#***###%% 
                                                                                      @@%%#######%% 
                                                                                      @@@@@@@@@@%%% 
                                                                                      @@@=-:::::=@@ 
                                                                                      @@@=-::::::@@ 
                                                                                       @*=-::::::%  
                         @@%@%%%%%%%%%%%%%#%%%%%%                                       ==-:.::::#  
                     @@@@%%%%%%%%%%%%%%####################                             ==::.:::-   
                   @@@@@%%%%%%%%%%%%%%#############******##**#**                        +-::.:::-   
                  @@@@@@%%%%%%%%%%%%%%############***********+%****::::-----            =-::.:::-   
                 %%@@%%%%%%%%%%%%%%%%%%####*####****************+#**#::::-------===    #=-::.:::-   
                 @@@@@@@@%%%%%%%%%%%%%#######**********************%##:--------==+*-   +=-::::::=   
    =--:::::::-------=====---+*#@@@@@%%%%#%#######*****************####-------==+*--   ==-::::::=   
  ----------------------------:::::::::--------=----=+#%%%%##*****######=-----=+:--=   ==::.::::*   
 ---==@@%%%%%@@@@@@@@@@@@@#+-::---------------------:.::::::::%##*####%#%    ------=   =-::.:::-    
*--:-+++=====++++**###%%%%%%%%%%%%%%%%%%%%%%%@@%#+-------:.....-%%%%%##%% =--------=   =-::.:::-    
=-::++===++++++++++++++++++=+++++++++***#*####%%%%%%%%%@:--::-==*####%@%%#=--------=  #=-::.:::-    
=-::++++*++++*++++++++++++++++++**+++++++============*#%%%---=%#+#%%%%@%%#=--------   *=-::.:::-    
=-.:++*********++****+*****************++++++===========*%%---%%%%%%%%@%%#=-----=     ==-::::::=    
 -:::*####***####*********###:-..*###****++++++++========*%:-:@%%%%%%%@%%*=----       ==::.::::+    
 -:..**############*########=::-..######******++++++++++++%---@%%%%%%%%%%*==          +-::.::::+    
 --..**********************#+%#%-..###*###****************%:--@%%%%%%%%%@             +-::.:::-     
 +-..-++****************###-%%*#@:..######****************%---@%%%@@%%%%%            *+-::.:::-     
  --..+++++++++***********:@%#*##-...************++*******#---@%@@@@@%@%%           @#+-::.:::-     
  =-:..==++++++++++++****:@%%#*###:...****++++++++++*++***#---@%@%@@@@%#          %%%%%##-::::-     
   --:..=========++++++=:@%%%#+###%::..+++++++++++++++++**---+%@@@%%@##         #%%%%##***#-::+     
    =--...-========++=--@@%%##*####%::..-++++++++++++++++*---==+%##%*         ##%%%##**+**##-=      
      :---..:::::::---*@@%%%##*#####%#-:..+++++++++++++++----=+%#            *#%%###*++*##%%%       
        =----------=  @@%%%%#**#######@:-:...-+++++++++=---=+*              =++*##*++*##%%%%%       
                      @@%%%%##*######%%@@=---:..:::::-----=+               +--:::*#+###%%%%#        
                 %#    @@@@%%%%@@@           =---------+=                =--:::.::-*%%%%%#          
                @###                                                   =--:::.:::::=+#%#            
                @%###              %#*%%                             =--:::.:::::-=+++              
                 %%%##           %#=%%%%%                          +--:::.:::::-=%                  
                  @%%%%%%%%%%%%#*%%%%%%%%%                       =--:::.:::::-=*                    
                   @@@@@@%%%%@@@@%%%%%%%%%%                    =--:::.:::::-=+                      
                   @@@@@%%%%@@@@@@%%%%%%%##                  =--:::..::::--=                        
                    @@@%#*--@@@@@@%%%%####@                ---:::.::::::-*                          
                    @%%###*##-@@@%%%%####                =-:::..:::::--+                            
                   @%%###**###@@%%%%%%%                =-:::..::::::-                               
                   %@%###*###@@@@@@                @%%%=::.:::::::-                                 
                  @%%%#######                   @@%%%##***::::::-                                   
                  @@%%%###%#%                %%%%%##*+::+**::-=                                     
</pre>
