<div class="absolute bottom-[11px] md:bottom-[14px] right-[0] max-w-[1240px] w-full overflow-hidden z-[-2]">
  <div>
    <pre class="whitespace-pre font-asciiText leading-3 md:leading-5 text-illustration-text bg-white">
████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████</pre
    >
    <!-- ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ -->
  </div>
</div>

<div
  class="min-[1080px]:hidden absolute bottom-[-62px] sm:bottom-[-76px] right-[0] max-w-[1240px] w-full overflow-hidden z-[-2]"
>
  <div>
    <pre class="whitespace-pre font-asciiText leading-3 md:leading-5 text-illustration-text bg-white">
████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████</pre
    >
    <!-- ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ -->
  </div>
</div>
<div
  class="ml-auto mr-[20px] mt-[-20px] md:mt-[-90px] min-[1080px]:mt-[0px] xl:mt-[0] text-xs leading-3 md:text-base md:leading-4"
>
  <div class="flex">
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███╗   ███╗
████╗ ████║
██╔████╔██║
██║╚██╔╝██║
██║ ╚═╝ ██║
╚═╝     ╚═╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
█████╗  
██╔══╝  
███████╗
╚══════╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███╗   ██╗
████╗  ██║
██╔██╗ ██║
██║╚██╗██║
██║ ╚████║
╚═╝  ╚═══╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
████████╗
╚══██╔══╝
   ██║   
   ██║   
   ██║   
   ╚═╝   </pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
 █████╗ 
██╔══██╗
███████║
██╔══██║
██║  ██║
╚═╝  ╚═╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██╗  
██║  
██║  
██║  
███████╗
╚══════╝</pre
    >
  </div>

  <div class="flex">
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██╗  ██╗
██║  ██║
███████║
██╔══██║
██║  ██║
╚═╝  ╚═╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
█████╗  
██╔══╝  
███████╗
╚══════╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
 █████╗ 
██╔══██╗
███████║
██╔══██║
██║  ██║
╚═╝  ╚═╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██╗  ████████╗
██║  ╚══██╔══╝
██║     ██║   
██║     ██║   
███████╗██║   
╚══════╝╚═╝   </pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██╗  ██╗
██║  ██║
███████║
██╔══██║
██║  ██║
╚═╝  ╚═╝</pre
    >
  </div>

  <div class="flex">
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██████╗ 
██╔══██╗
██████╔╝
██╔══██╗
██║  ██║
╚═╝  ╚═╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
█████╗  
██╔══╝  
███████╗
╚══════╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
███████╗
╚════██║
███████║
╚══════╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
 ██████╗ 
██╔═══██╗
██║   ██║
██║   ██║
╚██████╔╝
 ╚═════╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██╗   ██╗
██║   ██║
██║   ██║
██║   ██║
╚██████╔╝
╚═════╝ </pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██████╗ 
██╔══██╗
██████╔╝
██╔══██╗
██║  ██║
╚═╝  ╚═╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██████╗
██╔════╝
██║     
██║     
╚██████╗
 ╚═════╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
█████╗  
██╔══╝  
███████╗
╚══════╝</pre
    >
    <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
███████╗
╚════██║
███████║
╚══════╝</pre
    >
  </div>
</div>
