<!-- Illustration -->
<div
  class="absolute top-[-600px] min-[1080px]:top-[-380px] left-[-100px] sm:left-[0px] min-[1080px]:left-[-350px] 2xl:left-[-550px] z-[-2]"
  id="resources-illustration"
></div>

<!-- Section header ASCII text -->
<div
  class="absolute top-[-198px] sm:top-[-198px] right-[0] z-[-1] w-full flex"
  id="resources-ascii-text"
></div>

<h2
  class="text-2xl sm:text-4xl font-bold uppercase text-gray-900 px-2 sm:px-4 leading-7 sm:leading-9 mb-6"
>
  <span class="bg-white inline-block px-2 sm:px-1 pt-3">Mental Health</span
  ><br />
  <span class="bg-white inline-block px-2 sm:px-1 pb-3">Resources</span>
</h2>
<div class="mb-8 p-2 bg-white">
  <h2 class="text-3xl font-bold mb-6">🌍 General</h2>
  <p class="mt-2 text-gray-700 italic">
    In this area, I’m putting general links and resources, divided by area - you
    don’t need to be a developer or a OSS maintainer to use them 🤗 if you have
    any suggestions for items to add to these lists, please open an issue or
    submit a PR.
  </p>
</div>

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 gap-x-10 pl-2 bg-white"
>
  <div>
    <h2 class="text-xl font-semibold">📩 Newsletters</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://www.bakadesuyo.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Barking at the wrong tree</a
        >
      </li>
      <li>
        <a
          href="https://slowgrowth.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Slow Growth</a
        >
      </li>
      <li>
        <a
          href="https://www.afterbabel.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >After Babel</a
        >
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">📹 YouTube</h2>
    <ul class="list-disc mt-2">
      <li>
        There are a lot of channels I would recommend; I’ve put them all in this
        <a
          href="https://www.youtube.com/playlist?list=PLiD6R_aXkpLgYDKrj1gkqdzL2qsKUUfUk"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >YouTube playlist</a
        >.
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCbw5AHyRBNUFzTHCVuO5q9w?sub_confirmation=1"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >debug:mind</a
        >
        is a series I make where I talk with fellow developers about mental
        health and its impact in our lives.
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">🎙 Podcasts</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://open.spotify.com/show/6VaJwyS2KXxiXqR77jqzmP"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >HealthyGamerGG</a
        >
      </li>
      <li>
        <a
          href="https://www.earwolf.com/show/i-weigh-with-jameela-jamil/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >I Weigh</a
        >
      </li>
      <li>
        <a
          href="https://podcasts.apple.com/us/podcast/brainfork/id1436014505"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Brainfork</a
        >
      </li>
      <li>
        <a
          href="https://podcasts.apple.com/us/podcast/blocks-w-neal-brennan/id1658660161"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Blocks w/ Neal Brennan</a
        >
      </li>
      <li>
        🇮🇹
        <a
          href="https://www.ilpost.it/podcasts/le-basi/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >LeBasi</a
        >
      </li>
      <li>
        🇮🇹
        <a
          href="https://nopasanadapodcast.com/podcast/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >No Pasa Nada</a
        >
      </li>
      <li>
        🇮🇹
        <a
          href="https://www.ilpost.it/podcasts/sigmund/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Sigmund</a
        >
        - *suggested by @davidgerva*
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">📚 Courses</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://coaching.healthygamer.gg/guide"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Dr. K's Guide to Mental Health</a
        >
      </li>
      <li>
        <a
          href="https://www.masterclass.com/classes/matthew-walker-teaches-the-science-of-better-sleep"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Matthew Walker Teaches the Science of Better Sleep</a
        >
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">⚙️ Webapps</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://tokimeki-unfollow.glitch.me/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Tokimeki Unfollow</a
        >
      </li>
      <li>
        <a
          href="https://www.proginosko.com/leechblock/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >LeechBlock</a
        >
      </li>
      <li>
        <a
          href="https://chrome.google.com/webstore/detail/calm-twitter/cknklikacoaeledfaldmhabmldkldocj"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Calm Twitter</a
        >
      </li>
      <li>
        <a
          href="https://pudding.cool/2022/12/emotion-wheel/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Emotion Wheel</a
        >
        <ul class="list-circle">
          <li>
            <a
              href="https://pudding.cool/2022/12/emotion-wheel/activities/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-600"
              >Activities</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">📲 Mobile apps</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://www.headspace.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Headspace</a
        >
      </li>
      <li>
        <a
          href="https://ouraring.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Oura Ring</a
        >
        (needs the hardware)
      </li>
      <li>
        <a
          href="https://one-sec.app/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >one sec</a
        >
      </li>
      <li>
        <a
          href="https://meditofoundation.org/medito-app"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Medito</a
        >
      </li>
      <li>
        <a
          href="https://www.calm.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Calm</a
        >
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">📚 Books</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://www.lizandmollie.com/book/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >No Hard Feelings</a
        >
      </li>
      <li>
        <a
          href="https://www.lizandmollie.com/big-feelings"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Big Feelings</a
        >
      </li>
      <li>
        <a
          href="https://www.goodreads.com/book/show/58536046-why-has-nobody-told-me-this-before"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Why Has Nobody Told Me This Before?</a
        >
      </li>
      <li>
        <a
          href="https://www.goodreads.com/book/show/58782858-plays-well-with-others"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Plays Well with Others: The Surprising Science Behind Why Everything
          You Know about Relationships Is (Mostly) Wrong</a
        >
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">📺 TV Shows</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://www.netflix.com/title/80160037?trackIdJaw=13752289&trackIdEpisode=13752289&trackIdTrailer=13752289&dpRightClick=1"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Queer Eye</a
        >
      </li>
      <li>
        <a
          href="https://www.netflix.com/watch/70298930"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Bojack Horseman</a
        >
      </li>
      <li>
        <a
          href="https://www.netflix.com/title/80197526?trackIdJaw=13752289&trackIdEpisode=13752289&trackIdTrailer=13752289&dpRightClick=1"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Sex Education</a
        >
      </li>
      <li>
        <a
          href="https://www.netflix.com/gb/title/81098586"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >The Mind, Explained</a
        >
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">🎮 Videogames</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://store.steampowered.com/app/414340/Hellblade_Senuas_Sacrifice/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Hellblade: Senua’s Sacrifice</a
        >
      </li>
      <li>
        <a
          href="https://store.steampowered.com/app/2461850/Senuas_Saga_Hellblade_II/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Hellblade 2</a
        >
      </li>
      <li>
        <a
          href="https://store.steampowered.com/app/504230/Celeste/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Celeste</a
        >
      </li>
      <li>
        <a
          href="https://store.steampowered.com/app/683320/GRIS/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Gris</a
        >
      </li>
      <li>
        <a
          href="https://store.steampowered.com/app/1055540/A_Short_Hike/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >A Short Hike</a
        >
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">🗺 Charities and projects</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://www.who.int/campaigns/world-mental-health-day"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >World Mental Health Day</a
        >
      </li>
      <li>
        <a
          href="https://app.projecthealthyminds.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Project Healthy Minds</a
        >
      </li>
      <li>
        <a
          href="https://seizetheawkward.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Seize The Awkward</a
        >
      </li>
      <li>
        <a
          href="https://www.heartonmysleeve.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Hearth On My Sleeve</a
        >
      </li>
      <li>
        <a
          href="https://www.mentalhealthfirstaid.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Mental Health First Aid</a
        >
      </li>
      <li>
        <a
          href="https://www.humanetech.com/attention-mental-health"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Center for Humane Technology</a
        >
      </li>
      <li>
        <a
          href="https://alltechishuman.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >All Tech is Human</a
        >
      </li>
    </ul>

    <h3 class="text-base font-semibold mt-6">UK 🇬🇧 specific</h3>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://mhfaengland.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Mental Health First Aid (MHFA) England</a
        >
      </li>
      <li>
        <a
          href="https://www.nhs.uk/every-mind-matters/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Every Mind Matters</a
        >
      </li>
      <li>
        <a
          href="https://www.gov.uk/government/collections/public-mental-health"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Public mental health England</a
        >
      </li>
      <li>
        <a
          href="https://www.thecalmzone.net/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >The Calm Zone</a
        >
      </li>
      <li>
        <a
          href="https://www.mentalhealth.org.uk/our-work"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Mental Health Foundation</a
        >
      </li>
      <li>
        <a
          href="https://hubofhope.co.uk/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Hub of Hope</a
        >
      </li>
      <li>
        <a
          href="https://stateofmindsport.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >State of Mind</a
        >
      </li>
      <li>
        <a
          href="https://www.samaritans.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Samaritans</a
        >
      </li>
      <li>
        <a
          href="https://www.papyrus-uk.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Papyrus UK</a
        >
      </li>
      <li>
        <a
          href="https://uksobs.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Survivors of Bereavement by Suicide</a
        >
      </li>
    </ul>

    <h3 class="text-base font-semibold mt-6">USA 🇺🇸 specific</h3>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://www.psychologytoday.com/gb"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Psychology Today</a
        >
      </li>
      <li>
        <a
          href="https://www.samhsa.gov/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >SAMHSA US</a
        >
      </li>
      <li>
        <a
          href="https://aibm.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >American Institute for Boys and Men</a
        >
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">🗂 Services and companies</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://springhealth.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >SpringHealth</a
        >
      </li>
      <li>
        <a
          href="https://www.boysgetsadtoo.uk/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >boysgetsadtoo</a
        >
      </li>
      <li>
        <a
          href="https://thrive.uk.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >ThriveUK</a
        >
      </li>
      <li>
        <a
          href="https://www.betterhelp.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600 line-through"
          >BetterHelp</a
        >
        yeah actually don't use it,
        <a
          href="https://www.youtube.com/watch?v=XcTssbRvA2w"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >they're pretty bad</a
        >.
      </li>
    </ul>

    <h3 class="text-base font-semibold mt-6">ITA 🇮🇹 specific</h3>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://www.linkedin.com/company/teamdifferent/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >TeamDifferent</a
        >
      </li>
      <li>
        <a
          href="https://www.unobravo.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >UnoBravo</a
        >
      </li>
      <li>
        <a
          href="https://glipsicologionline.it/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >GliPsicologiOnline</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="mt-16 pl-2">
  <h1 class="text-3xl font-bold mb-6">💻 Work and doing Open Source</h1>
  <p class="mt-2 text-gray-700 italic">
    I’m trying to capture here a series of resources that helped me learn more
    about these intersections (software engineering + oss) and how it affects
    mental health.
  </p>
</div>

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 gap-x-10 mt-8 pl-2"
>
  <div>
    <h2 class="text-xl font-semibold">📖 Blogposts</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://mikemcquaid.com/2018/03/19/open-source-maintainers-owe-you-nothing/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Open Source Maintainers Owe You Nothing</a
        >
      </li>
      <li>
        <a
          href="https://medium.com/@kurtiskemple/im-fucking-depressed-but-it-s-going-to-be-okay-d004a1768350"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >I’m fucking depressed, but it’s going to be okay.</a
        >
      </li>
      <li>
        <a
          href="https://jjbeshara.com/2020/06/04/mental-wealth/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Mental Wealth</a
        >
      </li>
      <li>
        <a
          href="https://www.cassie.codes/posts/reading-in-the-dark/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Reading in the dark</a
        >
      </li>
      <li>
        <a
          href="https://collaborativefiltering.tumblr.com/post/177594388144/burnout-and-the-developer"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Burnout and the Developer</a
        >
      </li>
      <li>
        <a
          href="https://localghost.dev/blog/give-yourself-a-break-lessons-from-burnout/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Give yourself a break: lessons from burnout</a
        >
      </li>
      <li>
        <a
          href="https://www.jesuisundev.com/en/the-project-that-made-me-burnout/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >The project that made me burnout</a
        >
      </li>
      <li>
        <a
          href="https://index.medium.com/reflections-on-burnout-bea0ebf87b9"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Reflections on Burnout</a
        >
      </li>
      <li>
        <a
          href="https://archive.jlongster.com/Why-Frequently-Absent-Open-Source"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Why I'm Frequently Absent from Open Source</a
        >
      </li>
      <li>
        <a
          href="https://nolanlawson.com/2017/03/05/what-it-feels-like-to-be-an-open-source-maintainer/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >What it feels like to be an open-source maintainer</a
        >
      </li>
      <li>
        <a
          href="https://erikras.com/blog/open-source-sustainability"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Open Source Sustainability</a
        >
      </li>
      <li>
        <a
          href="https://www.reddit.com/r/rust/comments/7qels2/comment/dsqeh1d/?utm_source=share&utm_medium=web2x&context=3"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >I wonder, why Graydon Hoare, the author of Rust, stopped contributing
          into it and switched to Swift? (response)</a
        >
      </li>
      <li>
        <a
          href="https://antfu.me/posts/mental-health-oss"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Mental Health in Open Source</a
        >
      </li>
      <li>
        <a
          href="https://kettanaito.com/blog/the-dark-side-of-open-source"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >The Dark Side of Open Source</a
        >
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">📓 Articles</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://beincrypto.com/open-source-developers-charging/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Open Source Developers May Start Charging for Help</a
        >
      </li>
      <li>
        <a
          href="https://www.atlassian.com/blog/productivity/work-burnout-symptoms-and-prevention"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Burnout is real – here’s how to avoid it</a
        >
      </li>
      <li>
        <a
          href="https://www.buzzfeednews.com/article/annehelenpetersen/millennials-burnout-generation-debt-work"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >How Millennials Became The Burnout Generation</a
        >
      </li>
      <li>
        <a
          href="http://cameronmoll.com/journal/performant-mental-health"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Performant Mental Health, The Series</a
        >
      </li>
      <li>
        <a
          href="https://www.hse.ru/en/news/research/433782660.html"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Workaholism Leads to Mental and Physical Health Problems: Work
          Addiction Risk Depends on Occupation</a
        >
      </li>
      <li>
        <a
          href="https://www.nytimes.com/2021/04/19/well/mind/covid-mental-health-languishing.html"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >There’s a Name for the Blah You’re Feeling: It’s Called
          Languishing</a
        >
        (paywall alert)
      </li>
      <li>
        <a
          href="https://www.usehaystack.io/blog/83-of-developers-suffer-from-burnout-haystack-analytics-study-finds"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >83% of Developers Suffer From Burnout, Haystack Analytics Study
          Finds</a
        >
      </li>
      <li>
        <a
          href="https://sloanreview.mit.edu/article/what-youre-getting-wrong-about-burnout/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >What You’re Getting Wrong About Burnout</a
        >
      </li>
      <li>
        <a
          href="https://www.newyorker.com/magazine/2021/05/24/burnout-modern-affliction-or-human-condition"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Burnout: Modern Affliction or Human Condition?</a
        >
      </li>
      <li>
        <a
          href="https://theconversation.com/finding-endless-video-calls-exhausting-youre-not-alone-137936"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Finding endless video calls exhausting? You’re not alone</a
        >
      </li>
      <li>
        <a
          href="https://www.nytimes.com/2020/04/01/style/productivity-coronavirus.html"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Stop Trying to Be Productive</a
        >
      </li>
      <li>
        <a
          href="https://www.nytimes.com/2020/08/13/health/Covid-mental-health-anxiety.html"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Young Adults Report Rising Levels of Anxiety and Depression in
          Pandemic</a
        >
        (paywall alert)
      </li>
      <li>
        <a
          href="https://hbswk.hbs.edu/item/the-hidden-benefit-of-giving-back-to-open-source-software"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >The Hidden Benefit of Giving Back to Open Source Software</a
        >
      </li>
      <li>
        <a
          href="https://www.infoworld.com/article/3570483/open-source-has-a-people-problem.html"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Open source has a people problem</a
        >
      </li>
    </ul>
  </div>
  <div>
    <h2 class="text-xl font-semibold">📚 Books & Guides</h2>
    <ul class="list-disc mt-2">
      <li>
        <a
          href="https://www.amazon.com/dp/0578675862/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Working in Public: The Making and Maintenance of Open Source
          Software</a
        >
      </li>
      <li>
        <a
          href="https://www.fordfoundation.org/work/learning/research-reports/roads-and-bridges-the-unseen-labor-behind-our-digital-infrastructure/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Roads and Bridges: The Unseen Labor Behind Our Digital
          Infrastructure</a
        >
      </li>
      <li>
        <a
          href="http://catb.org/~esr/writings/cathedral-bazaar/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >The Cathedral and the Bazaar</a
        >
      </li>
      <li>
        <a
          href="https://increment.com/open-source/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Increment - Issue #9: Open Source</a
        >
      </li>
      <li>
        <a
          href="https://opensource.guide/maintaining-balance-for-open-source-maintainers/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600"
          >Maintaining Balance for Open Source Maintainers - GitHub</a
        >
      </li>
    </ul>
  </div>
</div>
