<!-- For the desktop layout -->
<article class="shorts flex flex-col text-base leading-7 text-gray-900 w-full max-w-[200px]">
  <div class="shorts-container rounded-lg">
    <iframe
      src="https://www.youtube.com/embed/QxULyNok9xg"
      title="What Open Source Maintainers Should Know About Mental Health - YouTube short"
      loading="lazy"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class=""
    ></iframe>
  </div>
  <header class="mt-3.5 w-full px-2">
    <h3 class="font-bold leading-6">What Open Source Maintainers Should Know About Mental Health</h3>
  </header>
</article>
<a
  href="https://www.youtube.com/@kelset/shorts"
  target="_blank"
  class="flex flex-col text-base leading-7 text-gray-900 w-full hover:underline"
>
  <div id="watch-more" class="shorts-container gradient flex justify-center items-center rounded-lg">
    <img src="./assets/images/watch-on-youtube.svg" alt="Watch more on Youtube" />
  </div>
  <div class="mt-3.5 w-full px-2">
    <h3 class="font-bold leading-6 text-blue-600">Want more?</h3>
  </div>
</a>

<!-- For the mobile layout -->
<article class="shorts flex flex-col text-base leading-7 text-gray-900 w-full max-w-[160px]">
  <div class="shorts-container rounded-lg">
    <iframe
      src="https://www.youtube.com/embed/QxULyNok9xg"
      title="What Open Source Maintainers Should Know About Mental Health - YouTube short"
      loading="lazy"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class=""
    ></iframe>
  </div>
  <header class="mt-3.5 w-full px-2">
    <h3 class="font-bold leading-6">What Open Source Maintainers Should Know About Mental Health</h3>
  </header>
</article>
<a
  href="https://www.youtube.com/@kelset/shorts"
  target="_blank"
  class="flex flex-col text-base leading-7 text-gray-900 w-full max-w-[160px] hover:underline"
>
  <div id="watch-more" class="shorts-container gradient flex justify-center items-center rounded-lg">
    <img src="./assets/images/watch-on-youtube.svg" alt="Watch more on Youtube" />
  </div>
  <div class="mt-3.5 w-full px-2">
    <h3 class="font-bold leading-6 text-blue-600">Want more?</h3>
  </div>
</a>
