<div class="absolute bottom-[11px] md:bottom-[14px] right-[0] max-w-[1240px] w-full overflow-hidden z-[-2]">
  <div>
    <pre class="whitespace-pre font-asciiText leading-3 md:leading-5 text-illustration-text bg-white">
████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████</pre
    >
    <!-- ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ -->
  </div>
</div>

<div
  class="min-[710px]:hidden absolute bottom-[-46px] md:bottom-[-76px] right-[0] max-w-[1240px] w-full overflow-hidden z-[-2]"
>
  <div>
    <pre class="whitespace-pre font-asciiText leading-3 md:leading-5 text-illustration-text bg-white">
████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████</pre
    >
    <!-- ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ -->
  </div>
</div>
<div class="flex ml-auto mr-5 mt-[-40px] min-[710px]:mt-[20px] md:mt-[0px] text-xs leading-3 md:text-base md:leading-4">
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
███████╗
╚════██║
███████║
╚══════╝</pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██╗  ██╗
██║  ██║
███████║
██╔══██║
██║  ██║
╚═╝  ╚═╝</pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
 ██████╗ 
██╔═══██╗
██║   ██║
██║   ██║
╚██████╔╝
 ╚═════╝ </pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
██████╗ 
██╔══██╗
██████╔╝
██╔══██╗
██║  ██║
╚═╝  ╚═╝</pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
████████╗
╚══██╔══╝
   ██║   
   ██║   
   ██║   
   ╚═╝   </pre
  >
  <pre class="whitespace-pre font-asciiText text-illustration-text bg-white">
███████╗
██╔════╝
███████╗
╚════██║
███████║
╚══════╝</pre
  >
</div>
